<!DOCTYPE html>
<html>
<head>
    <title>Live Knee Data</title>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script> 
    <style>
        h1 {
          font-size: 1000%;
        }
        p {
          font-size: 500%;
        }
    </style>
</head>
<body>
    <h1>Live Knee Data</h1>
    <div id="knee_data"></div>
    <script>
        const socket = io();      
        socket.on('connect', () => {
            console.log('Connected to server');
            socket.emit('start_data_stream');
        });
        
        socket.on('knee_data', (data) => {
            console.log('Received data:', data); // Debug log
            if (data) {
                document.getElementById('knee_data').innerHTML = `
                    <p>Thigh Angle: ${data.pitch_thigh}°</p>
                    <p>Shin Angle: ${data.pitch_shin}°</p>
                    <p>Knee Angle: ${data.knee_angle}°</p>
                    <p>Gait Phase: ${data.gait_phase}</p>
                `;
            }
        });
    </script>
</body>
</html>
